@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins Medium";
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format("truetype");
}

.icon-angle-left{
    top: -1px;
    left: -2px;
    position: absolute;
}
.icon-angle-RIGHT{
    top: -1px;
    left: 0px;
    position: absolute;
}
.icon-angle-left,.icon-angle-right{
    display: inline-block;
    background-position: center!important; 
    background-size: cover!important;
    width: var(--owl-nav-sizes);
    height: var(--owl-nav-sizes);  
    border-radius: 100px; 
}
.icon-angle-left{background: url('../assets/icons/back.png') no-repeat;}
.icon-angle-right{background: url('../assets/icons/next.png') no-repeat;}
button.owl-prev,button.owl-next{border: solid 1px #000!important;background-color: #fff;}

body{
    background-color: #f8f9fa;
    font-family: 'Poppins', Arial;
    max-width: 100vw;
    overflow-x: hidden;
}
h1,h3,.card-title, #contact .subtitle{
    font-family: 'Poppins SemiBold', Arial ;
}
.quote, #contact h1,#project-name{font-family: 'Poppins Medium', Arial;}
.text,.card-subtitle,.card-body ul li,.project-description,.badge{
    font-family: 'Open Sans', Arial ;
}

.navbar{font-size:15px;font-weight: 500;height: 100px;}
.navbar-brand {height: 100px;}
.navbar-brand img{width: 77px; height: 77px;}
.bg-light{background-color: #fff!important; color: #000!important;}
.bg-dark{background-color: #000!important; color: #fff!important;}
.navbar-light, .navbar-light #navbarNav.show{border-bottom: solid 0.5px #D9D9D9;}
.navbar-dark, .navbar-dark #navbarNav.show{border-bottom: solid 0.5px #EFEFEF;}
.navbar-light #navbarNav{background-color: #fff;}
.navbar-dark #navbarNav{background-color: #000;}
.navbar-light .be-solid-bnw{border-right: solid 0.5px #D9D9D9;}
.navbar-dark .be-solid-bnw{border-right: solid 0.5px #EFEFEF;}
.navbar-light .navbar-brand img{filter: invert(0);}
.navbar-dark .navbar-brand img{filter: invert(1);}
.nav-item{font-size: 15px ;font-weight: 500 ;}
.navbar-light.nav-link,.navbar-light a:hover,.navbar-light .nav-item.active a.nav-link{ color: #000!important;}
.navbar-dark.nav-link,.navbar-dark a:hover,.navbar-dark .nav-item.active a.nav-link{ color: #fff!important;}
.nav-item.active{border-bottom: solid 2px;}
.pt-nav{padding-top: 100px;}
#OpenMenu{margin-right: 30px!important;}
#navbarNav{padding:0 50px!important;}

.be-solid-white{border-right: solid 2px #fff;}
.pe-50{padding-right: 50px;}


h1{font-size: 30px;}
h2{font-size: 26px;}
h3,p{font-size: 20px;}
.title{text-align: center; font-weight: 600;}
.title.py-5{padding: 5rem 0!important;}
.title.pb-5{padding: 0 0 5rem 0!important;}
#services .title, #projects .title{padding-top: 8rem!important;}
.subtitle,.quote,.card-title{font-size: 22px;}
.text{
    color: #737c84;
    font-size: 20px ;
    font-weight: 400 ;
    line-height: 30px ;
    text-align: justify;}
.quote{text-align: center;}
.flip-card-front .card-title{
    height: 3rem;
}
.flip-card-back .card-title{
    font-size: 16px;
    color: #fff;
}
.card-subtitle{
    font-size: 16px !important;
    font-weight: 400 ;
    line-height: 26px ;
    color: #737c84 ;
}
.card-body ul li{
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 26px ;
    text-decoration: none!important;
    
}
.flip-card-front> .card-body ul li{color: #fff;}
.flip-card-back>.card-body ul li{color: #737c84 ;}
.card-header {
    background-color: transparent!important; 
    border-bottom: none!important;
}
footer{border-top: solid 0.5px #EFEFEF;}


/*LANDING*/
#index{
    background: url('../assets/img/Banner.png');
    background-position: center!important;
    background-size: cover!important;
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    /*background-attachment:fixed!important;*/    
    background-repeat: no-repeat!important;
    height: 100vh!important;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    -webkit-transform: translateZ(0);
    pointer-events: none;

}
#light_nav{padding-top: 100vh;}
#services{background-color: #f8f9fa; min-height: 100vh;}
#projects,#us{background-color: #fff;}
.grid-filter-wrap{overflow-x: auto; max-width: 100%;}
#us,#contact{min-height: 100vh;}
#contact,footer{background-color: #000!important; color: #fff!important;}
#contact .title{background-color: #000;}
#contact .text{color: #96a1ab;}
.client-img{width: 100%;max-width: 320px; height: auto; max-height: 220px;}

/*PROJECT DETAILS*/
#view_project,#login,#register{min-height: 100vh;}
#project-banner{border-radius: 12px ;}
#project-icon{border-radius: 10px ;}

#project-title {
    font-weight: 500;
    color: #000;
}
.project-description{
    font-size: 15px ;
    font-weight: 400 ;
    line-height: 29px ;
    color: #737c84 ;
}
.tag{
    font-family: 'Open Sans', Arial ;
    font-size: 14px ;
    font-weight: 400 ;
    line-height: 27px ;
    color: #949ea8 ;
}
.badge{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
    padding: 0.5rem!important;
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
    color: #fff;
}
.tags{display: none; visibility: hidden;}
.badges{display: block; visibility: visible;}

/*responsive*/
@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .pt-lg-5{padding-top: 3rem!important;}
}
@media only screen and (min-device-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .pt-lg-5{padding-top: 3rem!important;}
}

@media screen and (max-width: 1536px){
    
    h1{font-size: 28px!important;}    
    #contact .text,#us .text {font-size: 17px!important;}

    footer p{font-size: 15px!important;}
    .icon-social{width: 35px!important;height: 35px!important;}
    .icon-social-b{width: 36px!important; height: 29px!important;}
}
@media only screen and (max-device-width: 1536px){
    
    h1{font-size: 28px!important;}    
    #contact .text,#us .text {font-size: 17px!important;}

    footer p{font-size: 15px!important;}
    .icon-social{width: 35px!important;height: 35px!important;}
    .icon-social-b{width: 36px!important; height: 29px!important;}
}

@media screen and (max-width: 1366px){
    .card-body ul li{font-size: 14px!important;}
}
@media only screen and (max-device-width: 1366px){
    .card-body ul li{font-size: 14px!important;}
}

@media screen and (max-width: 991px){
    .navbar,.navbar-brand {height: 70px!important;}
    .pt-nav{padding-top: 70px;}
    #navbarLogo{height: 60px; width: 60px;}
    .pe-50{padding-right: 0;}
    #navbarNav{padding:30px!important;}
    .pe-50>.me-3, .pe-50>.mx-3{margin-left: auto!important; margin-right: auto!important;}
    .icon-social{width: 30px!important;height: 30px!important;}
    .icon-social-b{width: 31px!important; height: 25px!important;}
    #footer-logo{width: 60px; height:60px}
}
@media only screen and (max-device-width: 991px){
    .navbar,.navbar-brand {height: 70px!important;}
    .pt-nav{padding-top: 70px;}
    #navbarLogo{height: 60px; width: 60px;}
    .pe-50{padding-right: 0;}
    #navbarNav{padding:30px!important;}
    .pe-50>.me-3, .pe-50>.mx-3{margin-left: auto!important; margin-right: auto!important;}
    .icon-social{width: 30px!important;height: 30px!important;}
    .icon-social-b{width: 31px!important; height: 25px!important;}
    #footer-logo{width: 60px; height:60px}
}

@media screen and (max-width: 860px){
    #index{
        background: url('../assets/img/Banner_Movil.png') no-repeat;
    }
}
@media only screen and (max-device-width: 860px){
    #index{
        background: url('../assets/img/Banner_Movil.png') no-repeat;
    }
}

@media screen and (max-width: 767px){
    .be-solid-white{border-right: none;}

    h1{font-size: 25px!important;}    
    #contact .text,#us .text {font-size: 14px!important;}

}
@media only screen and (max-device-width: 767px){
    .be-solid-white{border-right: none;}

    h1{font-size: 25px!important;}    
    #contact .text,#us .text {font-size: 14px!important;}

}

@media screen and (max-width: 575px){
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 2340x1080 pixels at 476ppi  --iPhone 13 mini*/
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 2532x1170 pixels at 460ppi --iPhone 13 and iPhone 13 Pro*/
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3)  {
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 2778x1284 pixels at 458ppi --iPhone 13 Pro Max*/
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3)  {
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 1792x828px at 326ppi --iPhone 11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 2436x1125px at 458ppi --iPhone 11 Pro*/
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3){
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}
/* 2688x1242px at 458ppi --iPhone 11 Pro Max*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3){
    #project-filters{display: none; visibility: hidden;}
    .py-xs-3 {padding-top: 1rem!important;padding-bottom: 1rem!important;}
    #services .title, #projects .title {padding-top: 5rem!important;}
    .title.pb-5{padding: 0 0 1rem 0!important;}
    .title.py-5, .row.py-5, .py-5.quote{padding: 2rem 0!important;}
    #view_project > .row.pb-5  {padding: 0!important;}
    .subtitle,.quote,.card-title{font-size: 18px;}
    h1{font-size: 20px!important;}    
    #contact .text,#us .text {font-size: 16px!important;}
    .icon-contact{width: 30px!important;height: 30px!important;}
    .icon-social{width: 25px!important;height: 25px!important;}
    .icon-social-b{width: 26px!important; height: 20px!important;}
    #footer-logo{width: 55px; height:55px}
    .badges{display: none; visibility: hidden;}
    .tags{display: block; visibility: visible;}
}